/HelloWorldApp/target/
/ABeginning/target/
/BucketsOfFun/target/
/Adder/target/
/QuestForTheUserInput/target/
/DontForgetToStoreIt/target/
/TuringTest/target/
/WindowMaster/target/
/DayOfWeek/target/
/CountToFive/target/
/makeButton/target/
/ArrayFun2/target/
/ShopApp/target/
